<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BuyerServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="BuyerServiceSoap1" />
                <binding name="PublicServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="PublicServiceSoap1" />
                <binding name="RestrictedServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="RestrictedServiceSoap1" />
                <binding name="SearchServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="SearchServiceSoap1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="BuyerServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
                <binding name="PublicServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
                <binding name="RestrictedServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
                <binding name="SearchServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://api.tradera.com/v3/buyerservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="BuyerServiceSoap"
                contract="BuyerService.BuyerServiceSoap" name="BuyerServiceSoap" />
            <endpoint address="https://api.tradera.com/v3/buyerservice.asmx"
                binding="customBinding" bindingConfiguration="BuyerServiceSoap12"
                contract="BuyerService.BuyerServiceSoap" name="BuyerServiceSoap12" />
            <endpoint address="https://api.tradera.com/v3/publicservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="PublicServiceSoap"
                contract="PublicService.PublicServiceSoap" name="PublicServiceSoap" />
            <endpoint address="https://api.tradera.com/v3/publicservice.asmx"
                binding="customBinding" bindingConfiguration="PublicServiceSoap12"
                contract="PublicService.PublicServiceSoap" name="PublicServiceSoap12" />
            <endpoint address="https://api.tradera.com/v3/restrictedservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="RestrictedServiceSoap"
                contract="RestrictedService.RestrictedServiceSoap" name="RestrictedServiceSoap" />
            <endpoint address="https://api.tradera.com/v3/restrictedservice.asmx"
                binding="customBinding" bindingConfiguration="RestrictedServiceSoap12"
                contract="RestrictedService.RestrictedServiceSoap" name="RestrictedServiceSoap12" />
            <endpoint address="https://api.tradera.com/v3/searchservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="SearchServiceSoap"
                contract="SearchService.SearchServiceSoap" name="SearchServiceSoap" />
            <endpoint address="https://api.tradera.com/v3/searchservice.asmx"
                binding="customBinding" bindingConfiguration="SearchServiceSoap12"
                contract="SearchService.SearchServiceSoap" name="SearchServiceSoap12" />
        </client>
    </system.serviceModel>
</configuration>